

<div class="wrapper">
    <nav id="sidebar" class=" active">
  
      <div class="sidebar-header">
        <h3><img src="/assets/img/brand/fikas.png" class="navbar-brand-img" alt="..."></h3>
        <strong>FS</strong>
      </div>
  
      <ul id="nav" class="list-unstyled components">
        <li>
          <a href="/dashboard">
            <i class="fas fa-desktop"></i>
            Home
          </a>
  
        </li>
        <li>
          <a href="/logs">
            <i class="fas fa-briefcase"></i>
            Logs
          </a>
        </li>
      </ul>
    </nav>
  
    <!-- Page Content  -->
    <div id="content">
      <nav  class="navbar navbar-expand-lg navbar-dark bg-gradient-default">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" style="background-color: #000;border-color: #000;" class="btn btn-info">
            <i style="width:10px;" class="fas fa-chevron-right"></i>
          </button>
          <button class="btn btn-light d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
          </button>
          <div  class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
  
            </ul>
            <ul class="navbar-nav align-items-center d-none d-md-flex">
                <li class="nav-item dropdown">
                  <a style="background: transparent" class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="media align-items-center">
                      <span class="avatar avatar-sm rounded-circle">
                        <i class="ni ni-single-02"></i>
                      </span>
                      <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold">Profile</span>
                      </div>
                    </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                      <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <a href="/myprofile" class="dropdown-item">
                      <i class="ni ni-single-02"></i>
                      <span>My profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="/users/logout" class="dropdown-item">
                      <i class="ni ni-user-run"></i>
                      <span>Logout</span>
                    </a>
                  </div>
                </li>
              </ul>
          </div>
        </div>
      </nav>