<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i"
    rel="stylesheet">

<link href="/home.css" rel="stylesheet">
<header id="header" class="header header-hide">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- <h1><a href="#body" class="scrollto"><span>e</span>Startup</a></h1> -->
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="#body"><img src="/assets/img/brand/navlogo.png" alt="" title="" /></a>
        </div>

        <div class="main-content">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light ">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Admin Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://fika-sacco.herokuapp.com/sacco/login">Sacco login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Search Rider</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>
    </div>
</header>
<section id="hero" class="wow fadeIn">
    <div class="hero-container">
        <h1>Welcome to Fika Safe</h1>
        <h2>Safe Boda Boda App</h2>
        <img src="/assets/img/brand/fikas.png" alt="...">
        <a href="#contact" class="btn-get-started scrollto">Contact Us</a>
    </div>
</section>


<section id="contact" class="padd-section wow fadeInUp">

    <div class="container">
        <div class="section-title text-center">
            <h2>Contact</h2>
            <p class="separator">Please enter your message or question in the form below</p>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Huduma Center<br>Ground Floor</p>
                    </div>

                    <div class="email">
                        <i class="fa fa-envelope"></i>
                        <p>support@fikasafe.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>0204563545</p>
                    </div>
                </div>

            </div>

            <div class="col-lg-5 col-md-8">
                <div class="form">
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="/contact" method="POST" onsubmit="aler()" class="contactForm">
                        <div class="form-group">
                            <input required type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                data-rule="minlen:4" data-msg="Please enter at least 4 chars" value="" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input required type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                                data-rule="email" data-msg="Please enter a valid email" value="" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input required type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" value="" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required"
                                data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        <div class="text-center"><button type="submit">Send Message</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==========================
        Footer
      ============================-->
<footer class="footer">
    <div class="copyrights">
        <div class="container">
            <p>&copy; Fika Safe</p>
        </div>
    </div>

</footer>